* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Spectral", sans-serif !important;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.headerSearch .search-input {
  border: none;
  border-bottom: 1px solid #f2f2f2;
  outline: none;
  flex: 1;
  font-size: 14px;
  min-width: 280px;
  height: 30px;
}
.btnSearch {
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.badgeColor .MuiBadge-colorPrimary {
  background-color: #fdb5b9;
}
/* headerBottom */
.dropdown-parent {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 165%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-width: 200px;
}
.dropdown-parent:hover .dropdown-menu {
  display: block;
}
.dropdown-item {
  padding: 8px 16px;
  white-space: normal; /* Cho phép xuống dòng */
  color: #fdb5b9;
  max-width: 200px; /* Giới hạn độ rộng */
  overflow-wrap: break-word; /* Tự ngắt dòng khi nội dung dài */
  word-break: break-word; /* Cắt dòng nếu cần thiết */
  text-align: left; /* Căn lề trái cho văn bản */
}

.dropdown-item:hover {
  background-color: #fdb7bb;
  transition: color 0.1s ease-in-out;
}
.dropdown-item:hover a {
  color: #ffffff !important;
}
.dropdown-item a {
  color: #fdb5b9;
  text-decoration: none;
}
.dropdown-menu {
  border-top: 3px solid #fdb5b9;
  border-radius: 0;
}
.dropContainer {
  position: absolute;
  /* background-color: red; */
  height: 30px;
  width: 170px;
}
.header {
  border-bottom: 3px solid #dcdcdc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.content {
  padding-top: 60px; /* Để không che nội dung bởi header */
}

/* custom link */
.list-inline-item a {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.list-inline-item a:hover {
  color: #fdb5b9;
}

/* auth */
.logoAuth {
  height: auto;
}
.btnAuth {
  text-align: start;
  margin: 1px;
  width: 100%;
  border: none !important;
}
.btnAuth {
  border: none !important;
}
.btnAuth:hover,
.btnAuth:focus,
.btnAuth:active {
  background-color: #f7f7f7 !important;
  color: #fdb5b9 !important;
}
.btnAuth.selected {
  background-color: #f7f7f7 !important;
  color: #fdb5b9 !important;
  border: none !important;
}
.logoImage {
  width: 180px;
  height: auto;
  max-width: 100%;
}
.bdr {
  border-right: 1px solid #ccc;
}
.dialog {
  padding: 15px;
}
input {
  border-radius: 5px;
  border: solid 1px #ccc;
}
/* cartButton */
.buyMore {
  font-size: 12px;
}
.discount-span {
  color: #fdc0c3;
  border: solid 1px #fdc0c3;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.buyImg {
  width: auto;
  height: 50px;
}
.linearProgress {
  height: 5px;
  border-radius: 5px;
  background-color: #e0e0e0; /* Nền mặc định cho thanh tiến trình */
  overflow: hidden; /* Để nội dung con không tràn ra ngoài */
}

.linearProgressBar {
  height: 100%;
  border-radius: 5px;
  background-color: #fdb5b9; /* Cam mặc định */
  transition: background-color 0.3s, width 0.3s ease;
}
.products {
  margin-top: 20px;
}

.product {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.productImg {
  height: 100%;
  max-width: 100px; /* Đảm bảo ảnh không quá lớn */
  object-fit: contain;
}

.productName {
  font-size: 13px;
}

.productPrice {
  color: #ff5733;
  font-size: 18px;
  margin: 2px 0;
}

.removeBtn {
  background-color: #ff4444;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.removeBtn:hover {
  background-color: #d93636;
}
/* cartBottom */
.containerCart {
  display: flex;
  flex-direction: column;
  height: 100%; /* Hoặc 100vh nếu muốn chiều cao toàn màn hình */
  overflow: hidden;
  width: 450px;
  position: relative;
}
.cartBottom {
  height: 150px;
}
.products {
  flex-grow: 1; /* Phần giữa sẽ tự động chiếm khoảng trống */
  overflow-y: auto;
  overflow-x: hidden;
}

.cartTop,
.cartBottom {
  flex-shrink: 0; /* Giữ kích thước cố định */
}
.addNote,
.watchMore {
  padding: 10px;
  font-size: 14px;
  color: #979696;
}

.addNote:hover,
.watchMore:hover {
  color: #fdb5b9;
}
.priceText {
  font-size: 16px;
  padding: 10px;
  padding-left: 0;
}
.addNote {
  position: relative;
  cursor: pointer !important;
}
.note {
  position: absolute;
  top: 510px;
  width: 100%;
  height: 100%;
  background-color: white;
  color: #000;
  display: none;
}
.noteText {
  width: 100%;
  height: 80px;
  border-radius: 5px;
}
.noteText::placeholder {
  padding-left: 10px; /* Thêm padding trái */
  padding-top: 5px; /* Thêm padding trên */
  color: #888; /* Có thể chỉnh màu nếu cần */
}
.btnSaveNote,
.btnSaveNote:hover {
  border: #000 1px solid !important;
}
/* Initial hidden state */
.note {
  opacity: 0;
  transform: translateY(50px); /* Di chuyển từ dưới lên */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.note.open {
  opacity: 1;
  display: block;
  transform: translateY(0);
}

.note.close {
  opacity: 0;
  transform: translateY(50px);
}

.noteText {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

.btnSaveNote {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}
/* loveProduct */
.nameLoveText {
  padding-left: 120px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #fdb5b9;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  color: white;
  display: flex;
}
.closeButton {
  cursor: pointer;
}
.slider,
.slider-card {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.imgSlide {
  width: 100%;
  height: auto;
}
.slider .slick-arrow,
.slider-card .slick-arrow {
  position: absolute;
  top: 60%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  /* background-color: #000; */
  /* border-radius: 100% !important; */
}
.slider-card:hover .slick-arrow {
  display: block !important;
}
.slider-card .slick-arrow {
  top: 60%;
  display: none !important;
  position: absolute;
  transform: translateY(-50%);
}
.slider .slick-arrow.slick-next {
  right: 25px !important;
}
.slider-card .slick-arrow.slick-next {
  right: 1px !important;
}
.slider .slick-arrow.slick-prev {
  left: 25px !important;
}
.slider-card .slick-arrow.slick-prev {
  left: 1px !important;
}
/* AboutUs */
.aboutImg {
  height: auto;
  max-width: 500px;
  margin: 20px;
}
.img {
  max-width: 100%;
  height: auto;
}
.aboutHeader hr,
.hc-header hr {
  height: 1px;
  width: 10px;
  margin: 0;
  padding: 0;
  border: red 2px solid;
}
.aboutLink {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}
.aboutLink:hover {
  color: #fdb5b9;
}
.subAbout {
  font-size: 13px;
  color: #888;
}
.btnAbout {
  background-color: #fdb5b9;
  color: white;
}
.btnAbout:hover,
.btnAbout:focus,
.btnAbout:active {
  background-color: white;
  color: #fdb5b9 !important;
  border: 1px solid #fdb5b9 !important ;
}
/* home-collection */
.hc-list {
  display: flex;
  gap: 1rem;
  padding-left: 10px; /* Đảm bảo phần tử đầu tiên có khoảng trống để không bị che */
  overflow-x: auto; /* Tạo thanh cuộn ngang khi cần */
  scroll-snap-type: x mandatory; /* Hỗ trợ snap khi cuộn */
}
.hc-list::-webkit-scrollbar {
  height: 6px;
}
.hc-list-item {
  display: inline-flex;
  flex-direction: column; /* Ensures image and text stack vertically */
  align-items: center;
  width: fit-content;
  padding: 10px;
  border-radius: 100%;
  scroll-snap-align: start;
}

.hc-item-image {
  width: fit-content; /* Ensures image adapts dynamically */
  max-width: 100%; /* Prevents it from exceeding container size */
  overflow: hidden; /* Trims any overflowing image content */
}

.hc-img {
  display: block;
  max-width: 130px;
  height: auto;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out;
}
.hc-item-image:hover .hc-img {
  transform: scale(0.95) rotate(15deg); /* Nhỏ đi 10% và xoay 45 độ */
}
.hc-list-item:hover span {
  font-weight: bold;
  font-size: 16px;
  color: #fdb5b9;
}

/* home-flashsale */
.img-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.img-wrapper img {
  width: 100%;
  display: block;
  border-radius: 5px; /* Optional for rounded corners */
  min-height: 435px;
}

.datatime {
  position: absolute;
  bottom: 40%; /* Adjust placement relative to the bottom of the image */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}
.time {
  background-color: white; /* Semi-transparent background */
  color: #000; /* White text */
  font-weight: bold;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 7px;
  text-align: center;
  min-width: 40px;
}

.time-box-span {
  color: white;
}
/* card */
.card {
  border: none;
}
.cardImg {
  border-radius: 5px;
  height: 350px;
  width: 100%;
  object-fit: cover;
  position: relative !important;
}

.card-btn {
  position: absolute !important;
  display: none;
  bottom: 125px;
  left: 60px;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100px;
}
.card:hover .card-btn,
.card:hover .set-love-product {
  display: block !important;
}
.btn-card {
  background-color: #f0f0f4;
  border-radius: 5px;
  font-size: 15px;
}
.btn-card:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
}
.discount {
  position: absolute !important;
  background-color: #ff3300;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  width: fit-content;
  height: 25px;
  border: none;
  top: 4px;
  left: 10px;
}
.card-icon {
  color: #d93636;
}
.set-love-product {
  position: absolute !important;
  top: 2px;
  right: 10px;
  display: none;
}
.brand-name {
  font-size: 14px; /* Kích thước chữ nhỏ hơn */
  color: #aeaeae;
}
.card-name {
  font-size: 16px;
}
.brand-name:hover,
.card-name:hover {
  color: #fdb5b9 !important;
  cursor: pointer;
}
.rate {
  font-size: 18px !important;
  color: pink !important;
}

.rate .MuiRating-iconEmpty {
  color: pink; /* Màu viền hồng cho ngôi sao chưa chọn */
}
.card-price {
  font-weight: bold;
  font-size: 16px;
  color: #ff3300;
}
.card-price span {
  color: #b7b7b7;
  text-decoration: line-through;
  font-weight: normal;
  font-size: 14px;
  padding-left: 2px;
}
.sub-card-img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}
.sub-card-img:hover {
  border: 1px solid pink;
  cursor: pointer;
}

/* banner */
.banner-container {
  position: relative;
  width: 100%;
  height: 570px; /* Đặt độ cao cho container */
  overflow: hidden; /* Ẩn phần ảnh bị tràn ra ngoài */
}

.banner-img {
  width: 100%;
  height: 100%;
  max-height: 570px;
  object-fit: cover; /* Đảm bảo ảnh che kín khung */
  transition: transform 0.3s ease-in-out; /* Hiệu ứng phóng to */
}

.banner-container:hover .banner-img {
  transform: scale(1.1); /* Khi hover, ảnh sẽ phóng to */
}

.banner-content {
  max-width: 360px;
  position: absolute;
  bottom: 40%;
  right: 100px;
  z-index: 10;
  color: white;
}
.banner-name {
  font-size: 30px;
}
.btnBanner {
  background-color: #fdb5b9;
  display: block; /* Đặt display thành block */
  margin: 20px auto; /* Căn giữa theo chiều ngang */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.btnBanner:hover {
  background-color: white;
  color: #000;
}
.banner-index {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  max-width: 385px;
}

.banner-img-index {
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.banner-btn-name {
  position: absolute;
  top: 80%;
  left: 35%;
  background-color: #fdb5b9;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
  border-radius: 5px;
  padding: 2px 5px;
}

.banner-btn-name:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.banner-index:hover .banner-img-index {
  transform: scale(1.1);
}
/* zoom img */
.zoom-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.zoom-image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  border-radius: 5px;
}

.zoom-container:hover .zoom-image {
  transform: scale(1.1); /* Zoom khi hover */
}

.zoom-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Lớp phủ mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.layer-content {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.layer-content span {
  font-size: 15px !important;
}

.layer-content hr {
  border: 1px solid white;
  margin: 0.5rem auto;
}
.trending-img {
  border-radius: 5px;
}
.col-6.trending-slider .cardImg {
  min-height: 350px !important;
}
/* vender */
.vender {
  position: relative; /* Đảm bảo .vender là cha chứa tương đối */
  height: 100vh; /* Hoặc đặt chiều cao cố định theo ý muốn */
  overflow: hidden; /* Để tránh nội dung bị tràn */
  height: fit-content;
}

.vender-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  opacity: 0.9;
  border-radius: 5px;
}
.vender-content {
  position: absolute;
  top: 18%;
  left: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(-20%, -35%); /* Căn chỉnh chính xác */
}

.col-6 .cardImg {
  min-height: 520px; /* Khi trong cột col-6, min-height là 530px */
}
.hot-sale-show img {
  max-height: 440px;
  border-radius: 5px;
}
/* footer */
.footer {
  position: relative;
  font-size: 15 px;
  height: 100%;
  width: 100%;
  background-image: url("https://bizweb.dktcdn.net/100/520/624/themes/974135/assets/footers2_background.jpg?1731543625371");
  background-size: cover;
  background-position: center;
}
.footer p {
  color: #000;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Màu nền và độ trong suốt */
  z-index: 1;
}

.footer-content {
  position: relative;
  z-index: 2; /* Đảm bảo nội dung hiển thị trên lớp phủ */
  color: black; /* Màu chữ */
  padding: 20px; /* Khoảng cách nội dung với viền */
}

.footer a {
  text-decoration: none;
  color: black;
}
.footer a:hover,
.footer-connect span:hover {
  color: #fdb5b9 !important;
}
.footer-logo {
  max-width: 120px;
  height: auto;
}
/* collection */
.collection-container-header {
  background-color: #f9f9f9;
}
.collection-container-header a {
  text-decoration: none;
  color: #000;
  font-size: medium;
}
.address {
  color: #fdb5b9 !important;
}
.choice {
  max-height: 25px !important;
  font-size: 10px !important;
}
.brand {
  font-size: 16px;
}
/* selectForm */
.select-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px 0; */
}

.custom-select {
  padding: 2px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.custom-select option {
  background: white;
  color: black;
  padding: 10px;
}
.content-right {
  overflow-y: auto;
  height: 850px;
  /* position: sticky; */
}
/* See fast products */

.slider-see-fast img {
  min-height: 420px !important;
  object-fit: cover !important;
}
.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 0;
  font-size: 13px;
}
.slider-see-fast .slider .slick-arrow.slick-next {
  right: 2px !important;
}
.slider-see-fast .slider .slick-arrow.slick-prev {
  left: 2px !important;
}
ul li::marker {
  color: #fdb5b9;
}
.product-price {
  color: #ff3300;
  font-size: 20px;
  font-weight: bold;
}
.old-price {
  text-decoration: line-through;
  color: #888;
  font-weight: normal;
  font-size: 16px;
}
.discount-product-span {
  color: white;
  background-color: #ff3300;
  border-radius: 5px;
  padding: 1px 5px;
}
.product-info-btn {
  min-width: 60px;
  width: fit-content;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Bóng nhẹ */
}
.add-to-cart {
  border: #b7b7b7 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.see-more{
  background-color: #fdb5b9;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.see-fast-header {
  margin-top: 20px;
  margin-left: 300px;
}
